---
name: Check for linting Dockerfiles

# yamllint disable-line rule:truthy
on:
  push:
    paths:
      - "**Dockerfile**"
permissions: read-all
jobs:
  lint-hadolint:
    name: run hadolint
    runs-on: ubuntu-latest
    if: (!startsWith(github.event.pull_request.head.ref, 'dependabot/') && !startsWith(github.event.pull_request.head.ref, 'renovate/') && github.event.head_commit.author.username != 'renovate-bot')
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          dockerfile: Dockerfile
          recursive: true
          config: .github/linters/.hadolint.yaml
      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          dockerfile: Dockerfile-ffmpeg
          recursive: true
          config: .github/linters/.hadolint.yaml
