---
name: Check for linting YML

# yamllint disable-line rule:truthy
on:
  push:
    paths:
      - "**.yml"
      - "**.yaml"
permissions: read-all
jobs:
  lint-shell-script:
    name: run yamllint
    runs-on: ubuntu-latest
    if: (!startsWith(github.event.pull_request.head.ref, 'dependabot/') && !startsWith(github.event.pull_request.head.ref, 'renovate/') && github.event.head_commit.author.username != 'renovate-bot')
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run yamllint - *.yml
        run: yamllint -c .github/linters/yamllint_config.yaml ./
